Repository ivoleitao/shadertoy: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_test, stash_memory, stash_file

Commit from GitHub Actions (CI)
  packages/shadertoy_wgpu/lib/src/ffi/blobs/shadertoy_wgpu_ffi-x86_64.dll
Due: none

Commit from GitHub Actions (CI)
  packages/shadertoy_wgpu/lib/src/ffi/blobs/shadertoy_wgpu_ffi-x86_64.dll
  packages/shadertoy_wgpu/lib/src/ffi/blobs/shadertoy_wgpu_ffi-x86_64.dylib
  packages/shadertoy_wgpu/lib/src/ffi/blobs/shadertoy_wgpu_ffi-x86_64.so
Due: none

Changing the distribution process
  .github/workflows/ci.yml
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  .github/workflows/gh-project.yml
  .github/workflows/rust-ci.yaml
  melos.yaml
Due: none

Updated to 2.15 and corrected problems in the results matching
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  .github/workflows/rust-release.yaml
  Makefile.toml
  crates/Cargo.toml
  crates/shadertoy_wgpu/Cargo.toml
  crates/shadertoy_wgpu/examples/example.rs
  crates/shadertoy_wgpu/src/types/renderer.rs
  packages/shadertoy/lib/src/model/info.g.dart
  packages/shadertoy/lib/src/model/input.g.dart
  packages/shadertoy/lib/src/model/render_pass.g.dart
  packages/shadertoy/lib/src/model/sampler.g.dart
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_cli/lib/src/command/search.dart
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/example/example.dart
  packages/shadertoy_client/example/site/find_shader_by_id.dart
  packages/shadertoy_client/example/ws/find_shader_byid.dart
  packages/shadertoy_client/lib/src/hybrid/hybrid_client.dart
  packages/shadertoy_client/lib/src/site/site_client.dart
  packages/shadertoy_client/lib/src/ws/ws_client.dart
  packages/shadertoy_client/lib/src/ws/ws_options.dart
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_client/test/site/site_mock_adapter.dart
  packages/shadertoy_client/test/ws/ws_client_test.dart
  packages/shadertoy_client/test/ws/ws_mock_adapter.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/pubspec.yaml
  packages/shadertoy_wgpu/pubspec.yaml
Due: stash, stash_test, stash_memory, stash_file

Added sync backend
  packages/shadertoy/lib/shadertoy_api.dart
  packages/shadertoy/lib/src/api.dart
  packages/shadertoy/lib/src/response.dart
  packages/shadertoy/lib/src/response.g.dart
  packages/shadertoy_client/example/site/find_shaders.dart
  packages/shadertoy_client/example/site/find_shaders_by_playlistid.dart
  packages/shadertoy_client/example/site/find_shaders_by_userid.dart
  packages/shadertoy_client/example/ws/find_shaders.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/sync_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite_store.dart
  packages/shadertoy_sqlite/test/store_test.dart
Due: stash, stash_memory

Migrated to drift
  packages/shadertoy/lib/src/model/sync.dart
  packages/shadertoy_cli/lib/src/command/extended.dart
  packages/shadertoy_cli/lib/src/command/sqlite.dart
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_sqlite/example/example.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/comment_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/playlist_shader_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/playlist_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/shader_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/sync_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/user_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite_store.dart
  packages/shadertoy_sqlite/pubspec.yaml
  packages/shadertoy_sqlite/test/store_test.dart
Due: stash, stash_memory, stash_file

Tested sync support
  packages/shadertoy/README.md
  packages/shadertoy/lib/src/api.dart
  packages/shadertoy/lib/src/model/sync.dart
  packages/shadertoy/lib/src/model/sync.g.dart
  packages/shadertoy_sqlite/README.md
  packages/shadertoy_sqlite/lib/shadertoy_sqlite.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/sync_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite_store.dart
  packages/shadertoy_sqlite/test/store_test.dart
Due: stash, stash_memory

Removed subtype
  packages/shadertoy/lib/src/api.dart
  packages/shadertoy/lib/src/model/sync.dart
  packages/shadertoy/lib/src/model/sync.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/table/sync_table.dart
  packages/shadertoy_sqlite/lib/src/sqlite_store.dart
  packages/shadertoy_sqlite/test/store_test.dart
Due: stash, stash_memory

Minor changes
  packages/shadertoy_client/lib/src/hybrid/hybrid_client.dart
  packages/shadertoy_client/lib/src/hybrid/shader_sync.dart
Due: stash_test

Prepared true sync
  packages/shadertoy/lib/src/api.dart
  packages/shadertoy/lib/src/model/sync.dart
  packages/shadertoy/lib/src/model/sync.g.dart
  packages/shadertoy/lib/src/response.dart
  packages/shadertoy_client/lib/src/hybrid/playlist_sync.dart
  packages/shadertoy_client/lib/src/hybrid/shader_sync.dart
  packages/shadertoy_client/lib/src/hybrid/sync.dart
  packages/shadertoy_client/lib/src/hybrid/user_sync.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite_store.dart
Due: stash, stash_test, stash_memory

Removed extra methods
  packages/shadertoy_client/lib/src/site/site_client.dart
Due: stash_test

Pubscpec updates
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_sqlite/pubspec.yaml
Due: none

Fixed melos file indentation
  melos.yaml
Due: none

Completed all unit tests except sync
  packages/shadertoy_client/example/results.http
  packages/shadertoy_client/test/fixtures/results/results_newest_0_12.html
  packages/shadertoy_client/test/fixtures/results/results_newest_0_12.json
  packages/shadertoy_client/test/fixtures/results/results_newest_12_12.html
  packages/shadertoy_client/test/fixtures/results/results_newest_12_12.json
  packages/shadertoy_client/test/fixtures/results/results_newest_24_12.html
  packages/shadertoy_client/test/fixtures/results/results_newest_24_12.json
  packages/shadertoy_client/test/fixtures/shaders/alien_corridor.json
  packages/shadertoy_client/test/fixtures/shaders/basic_montecarlo.json
  packages/shadertoy_client/test/fixtures/shaders/blueprint_of_architekt.json
  packages/shadertoy_client/test/fixtures/shaders/crossy_penguin.json
  packages/shadertoy_client/test/fixtures/shaders/elephant.json
  packages/shadertoy_client/test/fixtures/shaders/elevated.json
  packages/shadertoy_client/test/fixtures/shaders/fight_them_all_fractal.json
  packages/shadertoy_client/test/fixtures/shaders/fractal_explorer_dof.json
  packages/shadertoy_client/test/fixtures/shaders/fractal_explorer_multi_res.json
  packages/shadertoy_client/test/fixtures/shaders/full_scene_radial_blur.json
  packages/shadertoy_client/test/fixtures/shaders/gargantua_with_hdr_bloom.json
  packages/shadertoy_client/test/fixtures/shaders/ice_primitives.json
  packages/shadertoy_client/test/fixtures/shaders/kleinian_variations.json
  packages/shadertoy_client/test/fixtures/shaders/multiple_transparency.json
  packages/shadertoy_client/test/fixtures/shaders/rapping_fractal.json
  packages/shadertoy_client/test/fixtures/shaders/rave_fractal.json
  packages/shadertoy_client/test/fixtures/shaders/rhodium_fractalscape.json
  packages/shadertoy_client/test/fixtures/shaders/simplex_noise_fire_milkdrop_beat.json
  packages/shadertoy_client/test/fixtures/shaders/smashing_fractals.json
  packages/shadertoy_client/test/fixtures/shaders/surfer_boy.json
  packages/shadertoy_client/test/fixtures/shaders/three_pass_dof.json
  packages/shadertoy_client/test/fixtures/shaders/trilobyte_bipolar_daisy_complex.json
  packages/shadertoy_client/test/fixtures/shaders/trilobyte_julia_fractal_smasher.json
  packages/shadertoy_client/test/fixtures/shaders/trilobyte_multi_turing_pattern.json
  packages/shadertoy_client/test/fixtures/shaders/turn_burn.json
  packages/shadertoy_client/test/fixtures/shaders/volcanic.json
  packages/shadertoy_client/test/fixtures/shaders/voxel_game_evolution.json
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
  packages/shadertoy_client/test/site/site_client_test.dart
Due: none

Working on the sync unit tests
  packages/shadertoy_cli/lib/src/command/sync.dart
  packages/shadertoy_client/lib/src/hybrid/playlist_sync.dart
  packages/shadertoy_client/lib/src/hybrid/shader_sync.dart
  packages/shadertoy_client/lib/src/hybrid/user_sync.dart
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
  packages/shadertoy_client/test/site/site_client_test.dart
Due: stash_test, stash_file

Updated packages
  packages/shadertoy/lib/src/model/info.g.dart
  packages/shadertoy/lib/src/model/render_pass.g.dart
  packages/shadertoy/lib/src/model/sampler.g.dart
  packages/shadertoy/lib/src/model/sync.g.dart
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/pubspec.yaml
  packages/shadertoy_sqlite/test/store_test.dart
Due: stash, stash_memory

Fixed User unit test
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
Due: none

Support the partition of the asset store and the creation of multiple asset vaults
  packages/shadertoy_cli/lib/src/command/database.dart
  packages/shadertoy_cli/lib/src/command/sqlite.dart
  packages/shadertoy_client/lib/src/hybrid/hybrid_client.dart
  packages/shadertoy_client/lib/src/hybrid/playlist_sync.dart
  packages/shadertoy_client/lib/src/hybrid/shader_sync.dart
  packages/shadertoy_client/lib/src/hybrid/sync.dart
  packages/shadertoy_client/lib/src/hybrid/user_sync.dart
  packages/shadertoy_client/test/fixtures/playlist/invalid_description.html
  packages/shadertoy_client/test/fixtures/playlist/invalid_name.html
  packages/shadertoy_client/test/fixtures/playlist/invalid_user_id.html
  packages/shadertoy_client/test/fixtures/playlist/week_0_12.html
  packages/shadertoy_client/test/fixtures/playlist/week_0_12_invalid_number_of_results.html
  packages/shadertoy_client/test/fixtures/playlist/week_12_12.html
  packages/shadertoy_client/test/fixtures/playlist/week_12_12_invalid_number_of_results.html
  packages/shadertoy_client/test/fixtures/playlist/week_24_12.html
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
Due: stash_test, stash_file

Removed unnecessary files
  packages/shadertoy_client/test/fixtures/sync/a.html
  packages/shadertoy_client/test/fixtures/sync/a.json
  packages/shadertoy_client/test/fixtures/sync/b.json
Due: none

Updated skd and added README in the root
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  README.md
  melos.yaml
  packages/shadertoy/README.md
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_cli/CHANGELOG.md
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/CHANGELOG.md
  packages/shadertoy_client/README.md
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_sqlite/CHANGELOG.md
  packages/shadertoy_sqlite/README.md
  packages/shadertoy_sqlite/pubspec.yaml
  staging/packages/shadertoy_wgpu/.dart_tool/package_config.json
  staging/packages/shadertoy_wgpu/pubspec.lock
  staging/packages/shadertoy_wgpu/pubspec.yaml
Due: none

Path conditions:
  stash: any of: packages/shadertoy/lib/
  stash_test: any of: packages/shadertoy_client/lib/
  stash_memory: any of: packages/shadertoy_sqlite/lib/
  stash_file: any of: packages/shadertoy_cli/lib/
