Repository ivoleitao/shadertoy: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_test, stash_memory, stash_file

codecov.yml:

coverage:
  range: 50..100
  status:
    project:
      default: off
      shadertoy:
        flags: shadertoy
      shadertoy_client:
        flags: shadertoy_client
      shadertoy_sqlite:
        flags: shadertoy_sqlite
      shadertoy_cli:
        flags: shadertoy_cli


flags:
  stash:
    paths:
      - packages/shadertoy/lib/
  stash_test:
    paths:
      - packages/shadertoy_client/lib/
  stash_memory:
    paths:
      - packages/shadertoy_sqlite/lib/
  stash_file:
    paths:
      - packages/shadertoy_cli/lib/

feat: added logging
  .gitignore
  .vscode/launch.json
  packages/shadertoy_alfred/bin/image_cache/052116099071068114.jpg
  packages/shadertoy_alfred/bin/image_cache/052116116083087102.jpg
  packages/shadertoy_alfred/bin/image_cache/077115050083068049.jpg
  packages/shadertoy_alfred/bin/image_cache/077115075099082104.jpg
  packages/shadertoy_alfred/bin/image_cache/087116051051087102.jpg
  packages/shadertoy_alfred/bin/image_cache/088100115051122078.jpg
  packages/shadertoy_alfred/bin/image_cache/088115088088068110.jpg
  packages/shadertoy_alfred/bin/image_cache/088115108071082114.jpg
  packages/shadertoy_alfred/bin/image_cache/088116100051122055.jpg
  packages/shadertoy_alfred/bin/image_cache/108108116051082052.jpg
  packages/shadertoy_alfred/bin/image_cache/108116051051122055.jpg
  packages/shadertoy_alfred/bin/image_cache/115115106121087099.jpg
  packages/shadertoy_alfred/bin/query_cache/948ce8f2e6d71615584df32310c20527
  packages/shadertoy_alfred/info.plist
  packages/shadertoy_alfred/lib/src/command/playlist.dart
  packages/shadertoy_alfred/lib/src/command/script_filter.dart
  packages/shadertoy_alfred/lib/src/command/search.dart
  packages/shadertoy_alfred/lib/src/command/workflow.dart
  packages/shadertoy_alfred/lib/src/constants/package.dart
  packages/shadertoy_alfred/pubspec.yaml
  packages/shadertoy_alfred/tool/build.dart
  packages/shadertoy_client/lib/src/site/site_client.dart
Due: stash_test

fix: removed extra files
  packages/shadertoy_alfred/bin/image_cache/052116099071068114.jpg
  packages/shadertoy_alfred/bin/image_cache/052116116083087102.jpg
  packages/shadertoy_alfred/bin/image_cache/077115050083068049.jpg
  packages/shadertoy_alfred/bin/image_cache/077115075099082104.jpg
  packages/shadertoy_alfred/bin/image_cache/087116051051087102.jpg
  packages/shadertoy_alfred/bin/image_cache/088100115051122078.jpg
  packages/shadertoy_alfred/bin/image_cache/088115088088068110.jpg
  packages/shadertoy_alfred/bin/image_cache/088115108071082114.jpg
  packages/shadertoy_alfred/bin/image_cache/088116100051122055.jpg
  packages/shadertoy_alfred/bin/image_cache/108108116051082052.jpg
  packages/shadertoy_alfred/bin/image_cache/108116051051122055.jpg
  packages/shadertoy_alfred/bin/image_cache/115115106121087099.jpg
  packages/shadertoy_alfred/bin/query_cache/948ce8f2e6d71615584df32310c20527
Due: none

chore(release): publish packages
  packages/shadertoy_alfred/pubspec.yaml
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/CHANGELOG.md
  packages/shadertoy_client/pubspec.yaml
Due: none

chore: fixed CHANGELOG
  packages/shadertoy_client/CHANGELOG.md
Due: none

chore(release): publish packages
  packages/shadertoy_alfred/CHANGELOG.md
  packages/shadertoy_alfred/pubspec.yaml
Due: none

docs: fixed CHANGELOG
  packages/shadertoy_alfred/CHANGELOG.md
Due: none

ci: updated release workflow
  .github/workflows/gh-release.yml
  .github/workflows/gh-stale.yml
  melos.yaml
Due: none

ci: updated release workflow
  .github/workflows/gh-release.yml
Due: none

ci: added dcli in the release workflow
  .github/workflows/gh-release.yml
Due: none

ci: changed to macos latest
  .github/workflows/gh-release.yml
Due: none

ci: updated workflow push trigger
  .github/workflows/gh-release.yml
Due: none

ci: wrong reference in the release script to changelog
  .github/workflows/gh-release.yml
  .github/workflows/gh-stale.yml
Due: none

refactor: centralized image functions
  packages/shadertoy_alfred/lib/src/command/playlist.dart
  packages/shadertoy_alfred/lib/src/command/script_filter.dart
  packages/shadertoy_alfred/lib/src/command/search.dart
  packages/shadertoy_alfred/lib/src/constants/config.dart
Due: none

fix: solved problem with dart workflow updater not supporting custom tags and not being able to extract the version number
  packages/shadertoy_alfred/pubspec.yaml
Due: none

chore: updated version
  packages/shadertoy_alfred/lib/src/constants/package.dart
Due: none

ci: updated codecov configuration
  codecov.yml
Due: none

feat: Migrated to the new melos version, updated CI to use flutter, and updated major dependencies
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  .github/workflows/gh-release.yml
  .gitignore
  melos.yaml
  packages/shadertoy/lib/src/model/input.dart
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_alfred/lib/src/constants/package.dart
  packages/shadertoy_alfred/pubspec.yaml
  packages/shadertoy_alfred/tool/build.dart
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/lib/src/http_client.dart
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_client/test/mock_adapter.dart
  packages/shadertoy_client/test/site/site_mock_adapter.dart
  packages/shadertoy_client/test/ws/ws_client_test.dart
  packages/shadertoy_client/test/ws/ws_mock_adapter.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.g.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: stash, stash_test, stash_memory

Updated dependencies
  packages/shadertoy/pubspec.yaml
  packages/shadertoy_alfred/lib/src/constants/package.dart
  packages/shadertoy_alfred/pubspec.yaml
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/lib/src/client_for_browser.dart
  packages/shadertoy_client/lib/src/client_for_native.dart
  packages/shadertoy_client/lib/src/dio_client.dart
  packages/shadertoy_client/lib/src/http_client.dart
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_client/test/mock_adapter.dart
  packages/shadertoy_client/test/site/site_mock_adapter.dart
  packages/shadertoy_client/test/ws/ws_mock_adapter.dart
  packages/shadertoy_sqlite/lib/src/sqlite/backend/web.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.g.dart
  packages/shadertoy_sqlite/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: stash_test, stash_memory

Finally fixed the cookie problem with web version
  .github/dependabot.yml
  packages/shadertoy/lib/src/converter/epoch_converter.dart
  packages/shadertoy/pubspec.yaml
  packages/shadertoy/test/api_test.dart
  packages/shadertoy_alfred/lib/src/constants/package.dart
  packages/shadertoy_alfred/pubspec.yaml
  packages/shadertoy_cli/pubspec.yaml
  packages/shadertoy_client/lib/shadertoy_client.dart
  packages/shadertoy_client/lib/src/browser_client.dart
  packages/shadertoy_client/lib/src/client_for_browser.dart
  packages/shadertoy_client/lib/src/dio_client.dart
  packages/shadertoy_client/lib/src/http_client.dart
  packages/shadertoy_client/lib/src/http_options.dart
  packages/shadertoy_client/lib/src/hybrid/hybrid_client.dart
  packages/shadertoy_client/lib/src/hybrid/playlist_sync.dart
  packages/shadertoy_client/lib/src/hybrid/shader_sync.dart
  packages/shadertoy_client/lib/src/hybrid/sync.dart
  packages/shadertoy_client/lib/src/hybrid/user_sync.dart
  packages/shadertoy_client/lib/src/native_client.dart
  packages/shadertoy_client/lib/src/site/site_client.dart
  packages/shadertoy_client/lib/src/site/site_options.dart
  packages/shadertoy_client/lib/src/ws/ws_client.dart
  packages/shadertoy_client/lib/src/ws/ws_options.dart
  packages/shadertoy_client/pubspec.yaml
  packages/shadertoy_client/test/browser_test_client.dart
  packages/shadertoy_client/test/hybrid/hybrid_client_test.dart
  packages/shadertoy_client/test/mock_adapter.dart
  packages/shadertoy_client/test/native_test_client.dart
  packages/shadertoy_client/test/site/site_client_test.dart
  packages/shadertoy_client/test/ws/ws_client_test.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/comment_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/playlist_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/shader_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/sync_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/dao/user_dao.dart
  packages/shadertoy_sqlite/lib/src/sqlite/store.dart
  packages/shadertoy_sqlite/lib/src/sqlite_options.dart
  packages/shadertoy_sqlite/pubspec.yaml
Due: stash, stash_test, stash_memory

Fixed the API Keys and updated the actions
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  .github/workflows/gh-release.yml
  .github/workflows/gh-stale.yml
  .vscode/launch.json
  packages/shadertoy_cli/lib/src/command/search.dart
Due: stash_file
